body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-page {
  width: 100%;
  background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
}
.main-page-left-side {
  width: 50%;
}
.main-page-picture {
  width: 50%;
}
.main-page-text-container {
  border-radius: 40px;
  background: #fff;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  position: relative;
}

.main-page-hello-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 60px;
}

.main-page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 64px;

  /* line-height: 72px; */
  line-height: 112%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}

.main-page-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 32px;
}

.main-page-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  border-radius: 8px;
  background: #ff6b0a;
}

.logo {
  top: 32px;
  left: 0;
  position: absolute;
}

.facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}

.facts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  /* line-height: 72px; */
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 32px;
  margin-top: 0;
}

.facts-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  width: 772px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 24px;
}

.facts-Trezub {
  margin-bottom: 24px;
}

.facts-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  /* line-height: 24px; */
  line-height: 100%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 32px;
}

.facts-item-title-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 0;
}

.facts-item {
  width: 30%;
}
.facts-item-img {
  width: 100%;
}
.form-container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border-radius: 40px;
  background: #fff;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  text-align: center;
}

.form-truzyb {
  margin-bottom: 32px;
}

.form-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  /* line-height: 24px; */
  line-height: 100%;
  text-align: center;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 8px;
}

.form-field-name {
  margin-bottom: 24px;
}

.form-input {
  border: 1px solid #005bbb;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  box-sizing: border-box;
  width: 100%;
}

.form-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  border-radius: 8px;
  background: #ff6b0a;
  border: none;
}

.form-field-email {
  margin-bottom: 48px;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

@media screen and (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
  .main-page-left-side {
    padding: 20px;
    box-sizing: border-box;
  }
  .main-page-text-container {
    padding: 20px;
    box-sizing: border-box;
  }
  .main-page-title {
    font-size: 44px;
  }
  .main-page-hello-text {
    margin-bottom: 10px;
  }
  .main-page-picture {
    align-self: flex-end;
  }
}
@media screen and (max-width: 785px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .main-page-left-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
